// colors
$text-color--black: #000000;
$text-color--white: #ffffff;
$text-color--grey: #999999;
$text-color--colored: #000fff;

// bg
$bg-color--black: #000000;
$bg-color--white: #ffffff;
$bg-color--grey: #999999;
$bg-color--colored: #000fff;

// weight
$weight--normal: normal;
$weight--semibold: 500;
$weight--bold: 700;

// borders
$border-color--black: #000000;
$border-color--white: #ffffff;
$border-color--grey: #999999;
$border-color--colored: #000fff;
$border-color--dark-grey: #555555;
